<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mis.mapper.JobMapper">

	<!-- 1. 설문 등록 (SV_JOB 테이블) -->
   <insert id="insert">
            INSERT INTO SV_JOB
      	(SESSION_ID
      	, JQ1, JQ2, JQ3, JQ4, JQ5, JQ6, JQ7, JQ8, JQ9, JQ10
     	, JQ11, JQ12, JQ13, JQ14, JQ15, JQ16, JQ17, JQ18, JQ19, JQ20
      	, JQ21, REGDATE)
      VALUES
      	(#{sessionId}
      	, #{JQ1}, #{JQ2}, #{JQ3}, #{JQ4}, #{JQ5}, #{JQ6}, #{JQ7}, #{JQ8}, #{JQ9}, #{JQ10}
      	, #{JQ11}, #{JQ12}, #{JQ13}, #{JQ14}, #{JQ15}, #{JQ16}, #{JQ17}, #{JQ18}, #{JQ19}, #{JQ20}
      	, #{JQ21}, SYSDATE)
	</insert>
	
	 <!-- 3. 설문 수정 -->
   <update id="update">
      UPDATE 
         SV_JOB
      SET JQ13 = #{JQ13}, JQ14 = #{JQ14}, JQ15 =#{JQ15}, JQ16 =#{JQ16}
      , JQ17 =#{JQ17}, JQ18 =#{JQ18}, JQ19 =#{JQ19}, JQ20 =#{JQ20}
      , JQ21 =#{JQ21} 
      WHERE
         SESSION_ID = #{sessionId}
   </update>

</mapper>